---
import dotenv from "dotenv";
import Section from "./Section.astro";
import SwipperNoteNest from "./SwipperNoteNest.astro";
import { Octokit } from "octokit";
import { Image } from "astro:assets";
import gitMerge from "../images/icons/git-merge2.svg";
dotenv.config();
const octokit = new Octokit({
	auth: process.env.GITHUB_TOKEN,
});

let commits = [];

function dateFormat(date: string) {
	const dateToFormat = new Date(date);
	const dateFormatted = `${dateToFormat.getFullYear()}-${String(dateToFormat.getMonth() + 1).padStart(2, "0")}-${String(dateToFormat.getDate()).padStart(2, "0")} ${String(dateToFormat.getHours()).padStart(2, "0")}:${String(dateToFormat.getMinutes()).padStart(2, "0")}`;
	return dateFormatted;
}
try {
	const result = await octokit.request("GET /repos/{owner}/{repo}/commits", {
		owner: "njralonso",
		repo: "mern_noteNest",
		headers: {
			"X-GitHub-Api-Version": "2022-11-28",
		},
	});
	commits = result.data.slice(0, 10);
} catch (error) {
	console.log(
		`Error! Status: ${error.status}. Message: ${error.response.data.message}`,
	);
}
---

<section>
	<Section title="Proyecto en curso" />
	<div
		class="flex flex-col lg:h-[500px] lg:flex-row gap-4 bg-gray-700/30 shadow-lg rounded-xl p-4 border-2 border-gray-700 bg-gradient-to-br from-gray-700/80 via-gray-800/50 to-gray-900/80"
	>
		{/* Swiper del Trello Clone */}
		<SwipperNoteNest />

		{/* Contenedor de información */}
		<div
			class="w-full p-4 bg-[#FAFAFA]/80 rounded-xl border border-gray-300 lg:overflow-hidden"
		>
			{/* Sección de Finalidad */}
			<h4 class="text-lg font-bold flex items-center gap-2 text-emerald-700">
				Finalidad del proyecto
			</h4>
			<p
				class="text-sm text-gray-700 flex items-center gap-2 mb-2 text-balance"
			>
				<span
					>Hacer mi propia aplicación de notas para guardar scripts, notas,
					ejemplos y chuletas, etc.</span
				>
			</p>

			{/* Sección de Commits */}
			<h2
				class="text-lg font-bold flex items-center gap-2 text-emerald-700 border-b border-emerald-700 pb-2"
			>
				Últimos commits
			</h2>
			<div class="">
				<ul class="mt-3 space-y-3 lg:overflow-y-scroll lg:h-[330px]">
					{
						commits.map((item) => (
							<li class="p-3 bg-[#FAFAFA]/80 rounded-xl shadow-sm border border-gray-300 transition-all hover:bg-gray-200 hover:shadow-md flex items-center gap-2">
								<Image src={gitMerge} alt="git_icon" class="w-8 h-8" />
								<p class="text-sm text-gray-700">
									<span class="font-semibold text-emerald-700 flex items-center gap-1">
										{dateFormat(item.commit.committer.date)}
									</span>
									{item.commit.message}
								</p>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</section>
